<!-- page start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel panel-success">
                    <header class="panel-heading">
                        Masters - Communion Attributes
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
					 <h3>Edit Communion Attribute</h3>
					 <br/>
					  <form action="/masters/updateCA/<%=CA.id%>" method="post" class="form-horizontal">
											<table class="table table-bordered table-info table-condensed">
											<tbody>
											<%if(flash && flash.err){%>
											<tr><td colspan="2">
											<ul class="alert alert-success">
												<%Object.keys(flash.err).forEach(function(error){%>
												  <li><%= JSON.stringify(flash.err[error])%></li>
												<%})%>
											</ul>
											
											</td></tr>
											<%}%>
											<tr>
												<td class="info"><b>Communion Type</b></td>
												<td class="info"><select id="cboCT" class="form-control" name="communionType"><option>Select...</option></select></td>
											</tr>
											<tr>
												<td class="danger"><b>Description</b></td>
												<td class="danger"><input type="text" class="form-control" name="description" value="<%=CA.description%>"></td>
											</tr>
											<tr>
												<td class="info"><b>Internal Usage</b></td>
												<td class="info"><input type="checkbox" id="label-switch"  name="isInternal" <%if(CA.isInternal==1){%>checked<%}%>></td>
											</tr>
											<tr>
												<td class="danger"><b>Data Type</b></td>
												<td class="danger">
												<select id="cboDT" class="form-control" name="dataType">
												 <option>Select...</option>
												 <option value="string" <%if(CA.dataType=="string"){%>selected<%}%>>string</option>
												 <option value="text" <%if(CA.dataType=="text"){%>selected<%}%>>text</option>
												 <option value="integer" <%if(CA.dataType=="integer"){%>selected<%}%>>integer</option>
												 <option value="float" <%if(CA.dataType=="float"){%>selected<%}%>>float</option>
												 <option value="date" <%if(CA.dataType=="date"){%>selected<%}%>>date</option>
												 <option value="time" <%if(CA.dataType=="time"){%>selected<%}%>>time</option>
												 <option value="datetime" <%if(CA.dataType=="datetime"){%>selected<%}%>>datetime</option>
												 <option value="boolean" <%if(CA.dataType=="boolean"){%>selected<%}%>>boolean</option>
												 <option value="array" <%if(CA.dataType=="array"){%>selected<%}%>>array</option>
												 <option value="json" <%if(CA.dataType=="json"){%>selected<%}%>>json</option>
												</select></td>
											</tr>
											<tr>
												<td class="info"><b>Validation Type</b></td>
												<td class="info">
												<select id="cboVT" class="form-control" name="validationType">
												 <option>Select...</option>
												 <option value="required" <%if(CA.validationType=="required"){%>selected<%}%>>Required</option>
												 <option value="email" <%if(CA.validationType=="email"){%>selected<%}%>>Email</option>
												 <option value="notEmpty" <%if(CA.validationType=="notEmpty"){%>selected<%}%>>Not empty</option>
												 <option value="numeric" <%if(CA.validationType=="numeric"){%>selected<%}%>>Numeric</option>
												 <option value="max" <%if(CA.validationType=="max"){%>selected<%}%>>Max</option>
												 <option value="minLength" <%if(CA.validationType=="minLength"){%>selected<%}%>>Min Length</option>
												 <option value="maxLength" <%if(CA.validationType=="maxLength"){%>selected<%}%>>Max Length</option>
												</select></td>
											</tr>
											<tr>
												<td class="danger"><b>Control</b></td>
												<td class="danger">
												<select id="cboControl" class="form-control" name="control">
												 <option>Select...</option>
												 <option value="Textbox" <%if(CA.control=="Textbox"){%>selected<%}%>>Textbox</option>
												 <option value="Dropdown" <%if(CA.control=="Dropdown"){%>selected<%}%>>Dropdown</option>
												 <option value="Date" <%if(CA.control=="Date"){%>selected<%}%>>Date</option>
												 <option value="Checkbox" <%if(CA.control=="Checkbox"){%>selected<%}%>>Checkbox</option>
												</select>
												</td>
											</tr>
											<tr>
												<td class="info"><b>Data Source</b></td>
												<td class="info"><input type="text" class="form-control" name="dataSource" value="<%=CA.dataSource%>"></td>
											</tr>
											<tr>
												<td class="danger"><b>Value Member</b></td>
												<td class="danger"><input type="text" class="form-control" name="valueMember" value="<%=CA.valueMember%>"></td>
											</tr>
											<tr>
												<td class="info"><b>Text Member</b></td>
												<td class="info"><input type="text" class="form-control" name="textMember" value="<%=CA.textMember%>"></td>
											</tr>
											<tr><td colspan="2" style="align:center">
											<a class="btn  btn-primary" href="/masters/communionAttribute">Cancel</a>
											<button class="btn btn-warning" type="Submit"> Update</button></td></tr>
											</tbody>
											</table>
											<input type="hidden" name="_csrf" value="<%= _csrf%>"/>
											</form>

                           
					</div>
        
        <!-- page end-->
<script>
    amplify.publish( "loadCommunionTypes", '<%=CA.communionType%>' );
    $("#cboCT").val('<%=CA.communionType%>');	
</script>
		
	
	



